.stateful {
  display: none;
}

.center {
  margin: auto;
}

.button {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 40px;
  background: white;
  cursor: pointer;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main section {
  flex-direction: column;
}
main section h1.waiting {
  width: 100%;
  text-align: center;
}
main section button {
  min-width: 20rem;
  margin: auto;
}

main[data-state=waiting] .stateful.waiting {
  display: initial;
}

main[data-state=ready] .stateful.ready {
  display: initial;
}

main[data-state=playing] .stateful.playing {
  display: initial;
}
