@font-face {
  font-family: "awakebold";
  src: url("/static/Awake/@font-face/awake-bold-webfont.woff");
}
@font-face {
  font-family: "awakeregular";
  src: url("/static/Awake/@font-face/awake-regular-webfont.woff");
}
html {
  font-family: awakebold, awakeregular, helvetica neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.stateful {
  display: none;
}

.center {
  margin: auto;
}

.button {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  background: white;
  cursor: pointer;
  padding: 20px;
}

html {
  background: #080808;
  color: white;
}

a.button {
  background: #080808;
  color: white;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main section {
  flex-direction: column;
}
main section h1.waiting {
  width: 100%;
  text-align: center;
}
main section button {
  min-width: 20rem;
  margin: auto;
}

main[data-state=waiting] .stateful.waiting {
  display: initial;
}

main[data-state=ready] .stateful.ready {
  display: initial;
}
main[data-state=ready] a.button.stateful.ready {
  display: block;
}

main[data-state=playing] .stateful.playing {
  display: initial;
}
