main {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	section {
		flex-direction: column;
		h1.waiting {
			width: 100%;
			text-align: center;
		}
		button {
			min-width: 20rem;
			margin: auto;
			border-radius: 40px;
			background: white;
			cursor: pointer;
			margin: auto;
			display: none;
		}
	}
	video {
		width: 100%;
		display: none;
	}
}

main[data-state=ready] {
	section {
		h1.waiting {
			display: none;
		}
		button {
			display: block;
		}
	}
}

main[data-state=playing] {
	section {
		display: none;
	}
	video {
		display: block;
	}
}
