@use "../shared/_shared.scss";

// States
.waiting{}
.ready{}
.playing{}

html {
	background: #080808;
	color: white;
}

a.button {
	background: #080808;
	color: white;
}

main {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	section {
		flex-direction: column;
		h1.waiting {
			width: 100%;
			text-align: center;
		}
		button {
			min-width: 20rem;
			margin: auto;
		}
	}
}

main[data-state=waiting] {
	.stateful.waiting{
		display: initial;
	}
}

main[data-state=ready] {
	.stateful.ready{
		display: initial;
	}
	a.button.stateful.ready {
		display: block;
	}
}

main[data-state=playing] {
	.stateful.playing {
		display: initial;
	}
}
