@font-face {
  font-family: "awakebold";
  src: url("/static/Awake/@font-face/awake-bold-webfont.woff");
}
@font-face {
  font-family: "awakeregular";
  src: url("/static/Awake/@font-face/awake-regular-webfont.woff");
}
html {
  font-family: awakebold, awakeregular, helvetica neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.stateful {
  display: none;
}

.center {
  margin: auto;
}

.button {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  background: white;
  cursor: pointer;
  padding: 20px;
}

svg {
  vertical-align: middle;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#setup {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main section#setup label {
  width: 40%;
  min-width: 10rem;
  max-width: 30rem;
  text-align: center;
  display: block;
}
main section#setup label svg {
  width: 2rem;
  height: 2rem;
}
main section#setup label input {
  display: none;
}
main section#setup button {
  border: none;
  width: 40%;
}
main section#setup button svg {
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
}

div.ffvideo video#sharer {
  display: none;
}

main[data-state=initial] .stateful.initial {
  display: initial;
}

main[data-state=ready] .stateful.ready {
  display: initial;
}

main[data-state=playing] .stateful.playing {
  display: initial;
}
