@use "../shared/_shared.scss";

// States
.initial { }
.ready { }
.playing { }

svg {
	vertical-align: middle;
}

video#player {
	display: none;
}

main {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	section#setup {
		width: 100%;
		display: flex;
		flex-direction: column;
		label {
			width: 40%;
			min-width: 10rem;
			max-width: 30rem;
			text-align: center;
			display: block;

			svg {
				width: 2rem;
				height: 2rem;
			}

			input {
				display: none;
			}
		}
		button {
			width: 40%;
			svg {
				vertical-align: middle;
				width: 2rem;
				height: 2rem;
			}
		}
	}
}

main[data-state=ready] {
	.stateful.ready {
		display: initial;
	}
}

main[data-state=playing] {
	.stateful.playing {
		display: initial;
	}
}
