@font-face {
  font-family: "awakebold";
  src: url("/static/Awake/@font-face/awake-bold-webfont.woff");
}
@font-face {
  font-family: "awakeregular";
  src: url("/static/Awake/@font-face/awake-regular-webfont.woff");
}
html {
  font-family: awakebold, awakeregular, helvetica neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.stateful {
  display: none;
}

.center {
  margin: auto;
}

.button {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  background: white;
  cursor: pointer;
  padding: 20px;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  font-size: 2rem;
}

button {
  background: white;
  border: none;
  font-size: 2rem;
}
