@use "../shared/_shared.scss";

body {
	height: 100%;
}

// States
.initial { }
.ready { }
.playing { }

svg {
	vertical-align: middle;
}

main {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	section#setup {
		width: 100%;
		display: flex;
		flex-direction: column;
		label {
			width: 40%;
			min-width: 10rem;
			max-width: 30rem;
			text-align: center;
			display: block;

			svg {
				width: 2rem;
				height: 2rem;
			}

			input {
				display: none;
			}
		}
		button {
			border: none;
			width: 40%;
			svg {
				vertical-align: middle;
				width: 2rem;
				height: 2rem;
			}
		}
	}
}

div.ffvideo {
	flex: 0 1 auto;
	video {
		max-width: 100%;
	}
	video#fallback-player {
		display: none;
	}
}

main[data-state=initial] {
	.stateful.initial {
		display: initial;
	}
}

main[data-state=ready] {
	.stateful.ready {
		display: initial;
	}
}

main[data-state=playing] {
	.stateful.playing {
		display: initial;
	}
}

main[data-state=sharing] {
	.stateful.sharing {
		display: initial;
	}
}
